---
import Layout from '../layouts/Layout.astro';
import WardrobeCalculator from '../components/WardrobeCalculator';
---

<Layout title="מחשבון מחיר ארון">
  <main class="container mx-auto px-4 py-8">
    <WardrobeCalculator client:load />
  </main>
</Layout>